<div class="saved-articles-container">
  <p-button size="small" variant="text" class="back-button" (click)="goBack()">
    <i class="pi pi-arrow-left"></i>
    Back
  </p-button>
  <div class="header">
    <h2>Saved Articles</h2>
    <p-button variant="outlined" styleClass="clear-button" (click)="clearAll()" >
      <i class="pi pi-trash"></i>
      Clear All
    </p-button>
  </div>

  <div class="saved-articles-list">
    @for (article of savedArticles(); track article.url) {
      <app-saved-article-card [article]="article" />
    }
  </div>
</div>
