@if(article(); as article) {
<div appCard class="card">
  <div class="image-container">
    <img [src]="article.urlToImage ?? '/default-image.png'" [alt]="article.title">
  </div>
  <div class="main-content">
    <div class="header">
      <span class="source">
        {{ article.source.name }}
      </span>
      @if(isSaved()) {
      <p-button icon="pi pi-bookmark-fill saved-icon" styleClass="saved" (onClick)="onSaveChange(false)" />
      }
      @else {
      <p-button icon="pi pi-bookmark save-icon" (onClick)="onSaveChange(true)" />
      }
    </div>
    <h2 class="title">
      {{ article.title }}
    </h2>
    <p class="content">
      {{ article.description ?? article.content }}
    </p>
    <div class="footer">
      <span class="date">
        {{ article.publishedAt | date:'short' }}
      </span>
      <a [href]="article.url" target="_blank" rel="noopener noreferrer" class="read-more">
          {{ appLabels.READ_MORE }} <i class="pi pi-external-link link-icon"></i>
      </a>
    </div>
  </div>
</div>
}
