<div class="news-container">
  <div class="filter-row">
    <app-search-box />
    <app-category-selector />
  </div>
  @if (loading()) {
  <div class="loading-spinner">
    <i class="pi pi-spin pi-spinner"></i>
  </div>
  }
  @else {
  <div class="articles-list">
    @for (article of articles(); track article.url) {
      <app-news-article-card [article]="article" />
    }
  </div>
  }

  <div class="pagination-container">
    <app-pagination
      [totalRecords]="totalArticles()"
    />
  </div>
</div>
